In [37]:
import glob
import itertools
import pandas as pd

In [27]:
output_dir_deceptive = '../data/ott_et_al_data/deceptive_data.txt'
output_dir_truthful = '../data/ott_et_al_data/truthful_data.txt'

deceptive_files = glob.glob('../data/ott_et_al_data/*/deceptive*/*/*.txt')
truthful_files = glob.glob('../data/ott_et_al_data/*/truthful*/*/*.txt')

In [36]:
with open (output_dir_deceptive, 'w') as outfile:
    for line in itertools.chain.from_iterable(map(open, deceptive_files)):
        outfile.write(f"{line}")

with open (output_dir_truthful, 'w') as outfile:
    for line in itertools.chain.from_iterable(map(open, truthful_files)):
        outfile.write(f"{line}")

In [47]:
deceptive_df = pd.read_csv(output_dir_deceptive, sep="\0", header=None, names=['text'])
truthful_df = pd.read_csv(output_dir_truthful, sep="\0", header=None,  names=['text'])

In [49]:
deceptive_df['truthful'] = False
truthful_df['truthful'] = True

In [50]:
truthful_df.head()

                                                text  truthful
0  My $200 Gucci sunglasses were stolen out of my...      True
1  This was a gorgeous hotel from the outside and...      True
2  The hotel is very impressive upon entering and...      True
3  Going to the Internet Retailer 2010 at the las...      True
4  I checked into this hotel, Rm 1760 on 11/13/20...      True

In [52]:
result_df = pd.concat([truthful_df, deceptive_df])

In [54]:
result_df.tail()

                                                  text  truthful
795  The Palmer House Hilton hotel takes luxury to ...     False
796  We really enjoyed our stay at the Palmer House...     False
797  The Palmer House Hilton was recommended to me ...     False
798  My stay at The Palmer House Hilton was wonderf...     False
799  Amazing! I was swept away when I walked into t...     False

In [56]:
result_df.to_csv('../data/ott_et_al_data/ott_et_al_processed.csv', sep=";")